{% extends "layout.html" %}

{% block title %}
    Bench
{% endblock %}

{% block main %}
<div class="cues">

<h2 class="quote" style="position:relative;left:10px;"><i>~Don't overthink it, just lift it~</i></h2>

<h3>Bench</h3>
<ul>
    <li>Get a proper arch</li>
    <li>Tuck your elbows: engage lats</li>
    <li>Bend the bar on the way down, pull it apart on the way up</li>
    <li>At the end of the setup, move you butt a bit back while setting up your feet</li>
</ul>

</div>

<iframe width="550" height="310"
src="https://www.youtube.com/embed/esQi683XR44">
</iframe>
{% endblock %}