{% extends "layout.html" %}

{% block title %}
    Deadlift
{% endblock %}

{% block main %}
<div class="cues">

<h2 class="quote" style="position:relative;left:10px;"><i>~Don't overthink it, just lift it~</i></h2>

<h3>Deadlift</h3>
<ul>
    <li>Initialise with legs</li>
    <li>Sit back more</li>
    <li>Push the ground away instead of pulling the bar up</li>
    <li>Play around with foot position/angle</li>
    <li>Be aggressive</li>
</ul>

</div>

<iframe width="550" height="310"
src="https://www.youtube.com/embed/LGIS9vs65Sk">
</iframe>
{% endblock %}