{% extends "layout.html" %}

{% block title %}
    Front Squats/Incline Bench
{% endblock %}

{% block main %}
<head>
    <script>
    function validateForm() {
        var x = document.forms["form"]["feedback"].value;
        if (x != "+" && x != "=" && x != "-") {
        alert("Submit Feedback");
        return false;
        }
    }
    </script>
</head>
<form name="form" action="/workout4" method="post" onsubmit="return validateForm()">
    <div class="shift1">

    <h1>Primary lift ({{ feedback1 }})</h1><h1></h1>
    <div>
        <label>Front Squats 3x8</label>
        <input type="hidden" name="exercise" value="FSquat8" />
        <input class="inputFrontSquats" style="display: inline-block" autocomplete="off" min="0" step="2.5" name="weight" value="{{ weight1 }}" type="number">
    </div>

    <div>
        <select name="feedback1" class="form-select mx-auto w-auto">
            <option disabled selected>Go up?</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="=">=</option>
        </select>
    </div>

    <h1 style="margin-top:1cm;">Secondary lift ({{ feedback2 }})</h1><h1></h1>
    <div>
        <label>Incline Bench 5x5</label>
        <input type="hidden" name="exercise" value="InBench5" />
        <input class="inputInclineBench" style="display: inline-block" class="right" autocomplete="off" min="0" step="2.5" name="weight" value="{{ weight2 }}" type="number">
    </div>

    <div>
        <select name="feedback2" class="form-select mx-auto w-auto">
            <option disabled selected>Go up?</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="=">=</option>
        </select>
    </div>

    <h1 style="margin-top:1cm;">Accessories</h1><h1></h1>
    <div>
        <label class="NoWeight">Pull-ups 3x8-10</label><div></div>
    </div>
    <div>
        <label>Dumbbell curls 3x8-10</label>
        <input type="hidden" name="exercise" value="DCurls" />
        <input class="inputDCurls" style="display: inline-block" class="right" autocomplete="off" min="0" name="weight" value="{{ weight3 }}" type="number">
    </div>
    <div>
        <label class="NoWeight">Leg raises 3x12</label><div></div>
    </div>

    </div>
    <div>
    <button style="margin-top:1.2cm;" class="btn btn-primary" type="submit" name="button" value="submit">Submit Workout</button>
    </div>
</form>
{% endblock %}