{% extends "layout.html" %}

{% block title %}
    Squat
{% endblock %}

{% block main %}
<head>
    <script>
    function validateForm() {
        var x = document.forms["form"]["feedback"].value;
        if (x != "+" && x != "=" && x != "-") {
        alert("Submit Feedback");
        return false;
        }
    }
    </script>
</head>
<form name="form" action="/workout2" method="post" onsubmit="return validateForm()">
    <div class="shift1">

    <h1>Primary lift ({{ feedback }})</h1><h1></h1>
    <div>
        <label>Squats 3x5</label>
        <input type="hidden" name="exercise" value="Squat5" />
        <input class="inputSquats" style="display: inline-block" autocomplete="off" min="0" step="2.5" name="weight" value="{{ weight1 }}" type="number">
    </div>

    <div>
        <label>Squats 3x3</label>
        <input type="hidden" name="exercise" value="Squat3" />
        <input class="inputSquats" style="display: inline-block" autocomplete="off" min="0" step="2.5" name="weight" value="{{ weight2 }}" type="number">
    </div>

    <div>
        <select name="feedback" class="form-select mx-auto w-auto">
            <option disabled selected>Go up?</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="=">=</option>
        </select>
    </div>

    <h1 style="margin-top:1cm;">Accessories</h1><h1></h1>
    <div>
        <label>Lateral Raises 3x10</label>
        <input type="hidden" name="exercise" value="LatRaises" />
        <input class="inputLatRaises" style="display: inline-block" class="right" autocomplete="off" min="0" name="weight" value="{{ weight3 }}" type="number">
    </div>
    <div>
        <label>Side Bends 2x2x10</label>
        <input type="hidden" name="exercise" value="SideBends" />
        <input class="inputSideBends" style="display: inline-block" class="right" autocomplete="off" min="0" name="weight" value="{{ weight4 }}" type="number">
    </div>
    <div>
        <label>Face Pulls 3x10</label>
        <input type="hidden" name="exercise" value="FacePulls" />
        <input class="inputFacePulls" style="display: inline-block" class="right" autocomplete="off" min="0" name="weight" value="{{ weight5 }}" type="number">
    </div>
    <div>
        <label class="NoWeight">Planks</label><div></div>
    </div>

    </div>
    <div>
    <button style="margin-top:1.2cm;" class="btn btn-primary" type="submit" name="button" value="submit">Submit Workout</button>
    </div>
</form>
{% endblock %}